@model patient_appointment.Models.LoginModel

@{
    Layout = null;
    ViewBag.Title = "LogIn";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <link href="~/Content/SignupAndLogin/signup.css" rel="stylesheet" />

    <style>
        .form-container{
            height:30rem;
        }
    </style>
</head>
<body>

    <div class="main">

        <div class="logo-container">
            <h1><a href="@Url.Action("Index", "Home")" class="login-link">Logo</a></h1>
            <img src="~/Content/assets/illustration.png" class="illustration-image" />
        </div>

        <div class="signup-container">

            <div class="form-container">
                <h2 class="signup-header"><span>Log </span>In</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @* To show error  *@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">

                        <div class="input-group">
                            <input required="" type="text" name="email" autocomplete="off" class="input email">
                            <label class="user-label">Email</label>
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="input-group">
                            <input required="" type="password" name="password" autocomplete="off" class="input password">
                            <label class="user-label">Password</label>
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

   
                    <div class="form-group">
                        <input type="submit" value="Log In" class="submit-button" />

                    </div>

                }

                <div class="login-link-container">
                    <a href="@Url.Action("SignUp", "User")" class="login-link">Don't have an account? Sign up ...</a>
                </div>

                <div class="error-message-container">
                    @Html.ValidationMessage("Error", null, new { @class = "error-message" })
                </div>
              
            </div>

        </div>

    </div>
</body>
</html>



