@model patient_appointment.Models.ServiceAndDoctor
@{
    ViewBag.Title = "Appointment";
}

<div class="appointment-container">
    <div class="appointment-image-container">
        <img src="~/Content/assets/appointment_doctor.png" class="appointment-doctor" />
    </div>

    <div class="appointment-form-container">

        <div class="appointment-form">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @* To show error  *@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2 class="appointment-heading">Make Appointment Now</h2>

                <div class="select-container">
                    <select name="service" id="service" class="select-input" required>
                        <option value="@ViewBag.selected">@ViewBag.selected</option>
                        @foreach (var service in Model.services)
                        {
                            <option value=@service>@service</option>

                        }

                    </select>

                    <input type="datetime-local" name="appointment-date" class="select-input" required/>

                    <select name="doctor" id="doctor" class="select-input" required>
                        <option value="">Select doctor</option>
                        @foreach (var doctor in Model.doctors)
                        {

                            <option value=@doctor.doctorID>@doctor.doctorName</option>



                        }
                    </select>
                </div>

                <div class="textarea-container"> 
                     <textarea id="message" name="message" class="textarea-input" rows="5" cols="10" placeholder="Message"></textarea>
                </div>
               
                 <input type="submit" value="Make Appointment" class="submit-button" />


            }
                 <div class="appointment-page-icon-container">
                     <img src="~/Content/assets/appointment_page.png" class="appointment-page-icon" />
                 </div>
             
        </div>
        
    </div>

</div>


    <script>
        const service = document.getElementById("service");

        let selectedService;
        service.addEventListener("change", function (event) {
          
            selectedService = service.options[service.selectedIndex].text

            console.log(selectedService)
            var url = "Appointment?selected=" + selectedService;
            window.location.href = url;
        })
    </script>